# Le greffon RTL de la carte (@mapbox/mapbox-gl-rtl-text 0.2.3, seule version
# que MapLibre 4 sait charger) déclare mapbox-gl en dépendance de pair : nous
# utilisons MapLibre, on n'installe pas ce pair (ni sa licence).
legacy-peer-deps=true
